{% extends 'base.html.twig' %}

{% block title %}SignalementSujet index
{% endblock %}

{% block body %}
	<h1>SignalementSujet index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Message</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for signalement_sujet in signalement_sujets %}
				<tr>
					<td>{{ signalement_sujet.message }}</td>
					<td>
						<a href="{{ path('signalement_sujet_show', {'id': signalement_sujet.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
