<form method="post" action="{{ path('signalement_petition_delete', {'id': signalement_petition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signalement_petition.id) }}">
	<button class="btn">Effacer le signalement</button>
</form>
