{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="section-inner ">
		<h1 class="section-heading">Conditions d'utilisation</h1>
		<br>
		<div class="container">
			<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link btn-primary active" id="conditions-tab" data-bs-toggle="tab" data-bs-target="#conditions" type="button" role="tab" aria-controls="conditions" aria-selected="true">Conditions d'utilisation</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link btn-primary" id="utilisation-tab" data-bs-toggle="tab" data-bs-target="#utilisation" type="button" role="tab" aria-controls="utilisation" aria-selected="false">Politique d’utilisation des données</button>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="conditions" role="tabpanel" aria-labelledby="conditions-tab">
					<div class="tab-inner">
						<div id="comments-list" class="gap wow">

							<div class="well">
								<br>
								<h5>SOMMAIRE</h5>
								<p>
									Comptes d’utilisateur
								</p>
								<p>
									Règles relatives au contenu utilisateur
								</p>
								<p>
									Affichage de contenu utilisateur
								</p>
								<p>
									Plateforme ouverte
								</p>
								<p>
									Nous contacter
								</p>
								<br>
								<h5>
									Comptes d’utilisateur
								</h5>
								<p>
									Vous devez avoir un compte pour effectuer certaines actions sur ce site. Vous assumez la responsabilité de toutes les activités associées à votre profil. Si vous suspectez quelqu’un d’utiliser votre compte, avertissez-nous.
								</p>
								<p>
									Lorsque vous créez un compte, vous devez fournir des informations exactes.
								</p>
								<p>
									ToiPresident.fr ne s’adresse qu’aux personnes âgées de 16 ans minimum. Si vous avez moins de 16 ans, vous ne pouvez pas créer de compte. Si nous découvrons que vous avez créé un compte alors que vous avez moins de 16 ans, nous nous permettrons de le résilier.
								</p>
								<br>
								<h5>Règles relatives au contenu utilisateur</h5>
								<p>Vous êtes responsable de tout ce que vous affichez sur ToiPresident.fr Vous devez faire en sorte que vos campagnes et commentaires soient conformes à la loi, et qu’ils respectent les Directives de la communauté et les droits de propriété intellectuelle des tiers. Vous pouvez rectifier certaines de vos déclarations en nous contactant. Les données seront gardées et publiées sur le site le temps que la pétition est en ligne. Nous ne souhaitons pas avoir à le faire, mais nous n’hésiterons pas à résilier votre compte en cas d’infractions répétées ou graves.
								</p>
								<p>
									Contrôle d’application exercé par ToiPresident.fr: Si nous prenons connaissance que le contenu que vous avez affiché enfreint la loi ou les droits d’autrui, nous pourrons le supprimer de notre plateforme ou y apporter les modifications nécessaires pour le mettre en conformité.
								</p>
								<br>
								<h5>Affichage de contenu utilisateur</h5>
								<p>Vous conservez la propriété du contenu que vous affichez sur ToiPresident.fr, mais vous devez vous assurer que vous êtes autorisés à le partager. Nous sommes autorisés à rendre publiques des versions de votre contenu par le biais de tout média et d’autres peuvent faire de même. Par ailleurs, n’oubliez pas de sauvegarder vos travaux. Le contenu que vous soumettez sur la plateforme n’est pas confidentiel: Tout contenu que vous soumettez ou affichez sur ToiPresident.fr est susceptible d’être rendu public, y compris l’ensemble des pétitions que vous créez et des commentaires que vous laissez concernant les pétitions que vous signez (sur le site ToiPresident.fr, sur les applications et sur les pages de médias sociaux).
								</p>
								<p>
									Le contenu que vous affichez reste votre propriété mais vous nous autorisez à le réutiliser et à le partager: En soumettant ou en affichant un contenu, vous ne perdez pas les éventuels droits de propriété y afférents. Cependant, vous nous autorisez à partager ledit contenu avec quiconque, à le distribuer sur toute plateforme et tout média, et à y apporter les modifications ou les corrections que nous jugeons nécessaires (par ex., pour le rendre plus clair ou l’optimiser). Nous pouvons, par exemple, raccourcir le titre d’une pétition afin qu’il puisse apparaître sur notre page d’accueil.
								</p>
								<p>
									Campagnes de partage: Sauf dans de circonstances rares où nous vous demanderons expressément de ne pas le faire, nous vous encourageons à établir des liens avec les médias sociaux et avec des services tiers, tels que Facebook ou Twitter, à y afficher du contenu, et à partager par e-mail, ou copier et diffuser, les pétitions et campagnes d’autres personnes qui vous intéressent, à des fins purement informatives et non commerciales.
								</p>
								<br>
								<h5>
									Plateforme ouverte</h5>
								<p>Les pétitions et campagnes sur ToiPresident.fr représentent les opinions diverses de millions de personnes. Nous n’assumons pas la responsabilité de leurs avis, ni ne vérifions la légalité ou l’exactitude de tels contenus. Sur ToiPresident.fr, vous trouverez des liens vers d’autres sites. Une fois que vous quittez notre site, nous ne sommes plus responsables des choses incroyables, farfelues ou magnifiques qui peuvent arriver sur ces sites. Nous ne sommes pas responsables du contenu de nos utilisateurs et nous ne contrôlons pas le contenu utilisateur: Tout contenu affiché par des utilisateurs provient de personnes, d’organisations et d’autres sources diverses. Nous ne garantissons aucunement la fiabilité des sources ni l’exactitude, la sécurité ou les droits de propriété intellectuelle afférents à un contenu utilisateur ; en outre, nous n’avalisons pas les campagnes ou les pétitions, ni les avis, opinions, recommandations ou conseils que des utilisateurs sont susceptibles d’afficher. Vous reconnaissez que les auteurs de certaines pétitions peuvent avoir des motivations commerciales. Nous ne contrôlons ni n’examinons les pétitions ou autres contenus soumis par des utilisateurs, et nous ne vérifions pas leur conformité aux lois et règlements nationaux ou étrangers. Par conséquent, vous utilisez le service ToiPresident.fr et vous fiez au contenu qu’il présente à vos propres risques.
								</p>
								<p>
									Si vous estimez qu’une pétition ou le contenu d’un autre utilisateur enfreint les Directives de la communauté, veuillez utiliser la fonction « Signaler » figurant sur chaque page de pétition.
								</p>
								<p>
									Liens extérieurs: Notre plateforme contient des liens vers d’autres sites Internet qui ne nous appartiennent pas et que nous ne contrôlons pas. Nous ne sommes pas responsables du contenu ou de tout autre aspect des sites tiers, ni des informations vous concernant qu’ils recueillent. Il vous incombe de lire leurs conditions et politiques de confidentialité.
								</p>
								<br>
								<h5>
									Nous contacter</h5>
								<p>La meilleure façon de nous contacter est d’adresser un e-mail à contact@toipresident.fr .
								</p>
								<p>
									Merci d’œuvrer au changement dans votre communauté. Nous avons hâte de découvrir ce que vous allez changer !
								</p>
								<p>
									responsable du traitement des données sébastien de Gouy
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="utilisation" role="tabpanel" aria-labelledby="utilisation-tab">
					<div class="tab-inner">
						<div id="comments-list" class="gap ">
							<div class="well">
								<h5>SOMMAIRE</h5>
								<p>Les informations que nous recueillons</p>
								<p>Comment nous utilisons vos informations</p>
								<p>Vos options en matière de confidentialité</p>
								<p>Rétention et sécurité des données</p>
								<p>Mises à jour de la politique et comment nous contacter</p>
								<br>
								<br>
								<h5>Les informations que nous recueillons</h5>
								<p>
									Votre nom et votre prénom. Nous vous demandons de nous indiquer un nom choisi lorsque vous créez un compte ToiPresident.fr.
								</p>
								<p>Votre adresse e-mail. Nous vous demandons d’indiquer une adresse e-mail lorsque vous créez un compte ToiPresident.fr.
								</p>
								<p>Votre mot de passe. Nous vous demandons de créer un mot de passe lorsque vous créez un compte ToiPresident.fr.
								</p>
								<p>Votre pseudo. Nous vous demandons de choisir un pseudo pour votre compte. Il sera affiché sur tous vos commentaires. Ce sont les seuls informations personnelles qui seront diffusées sur notre site.
								</p>
								<!--<p>Votre adresse postale.	Vous pouvez choisir d’indiquer votre adresse postale lorsque vous créez un compte ToiPresident.fr. Renseigner ces informations n’est pas nécessaire pour utiliser nos services.</p>-->
								<p>
									ToiPresident.fr ne fonctionnera pas correctement si les cookies sont désactivés. Nous n'utilisons pas les services d’analyse de tiers tels que Google Analytics.
								</p>
								<br>
								<h5>Comment nous utilisons vos informations</h5>
								<p>Nous utilisons vos informations seulement pour délivrer les services propres au site. Aucune de vos données confidentielles ne sont transmises à un tiers, hors mis pour la validation des pétitions et leur soumission.
								</p>
								<br>
								<h5>Vos options en matière de confidentialité</h5>
								<p>
									Si vous le souhaitez, vous pouvez demander l’accès aux informations que nous détenons sur votre compte et même demander à ce que nous les supprimions. Si vous souhaitez demander à réviser, corriger, mettre à jour, supprimer ou effacer les informations personnelles que vous nous avez fournies, vous pouvez vous connecter à votre compte, et mettre à jour les données de votre profil.
								</p>
								<br>
								<br>
								<h5>Rétention et sécurité des données</h5>
								<p>
									Nous prenons de nombreuses mesures pour protéger vos données personnelles. Si vous suspectez que quelqu’un d’autre utilise votre compte, signalez-le nous.
								</p>
								<br>
								<br>
								<h5>Mises à jour de la politique et comment nous contacter</h5>
								<p>
									Cette politique peut changer avec le temps. Nous incluons nos coordonnées. La « Date d’entrée en vigueur » en bas de cette Politique d’utilisation des données indique sa date de dernière révision. Toute modification entrera en vigueur lorsque nous publierons la Politique d’utilisation des données mise à jour sur notre plateforme. Si vous avez des suggestions à nous faire, n’hésitez pas à contacter à l’adresse suivante : contact@toipresident.fr. Merci d’agir pour le changement dans votre communauté.
								</p>
								<p>
									le 31/01/2022
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ asset('js/tab.js') }}"></script>
{% endblock %}
