{% extends 'base.html.twig' %}

{% block title %}SignalementCommentaire index
{% endblock %}

{% block body %}
	<h1>SignalementCommentaire index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Message</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for signalement_commentaire in signalement_commentaires %}
				<tr>
					<td>{{ signalement_commentaire.message }}</td>
					<td>
						<a href="{{ path('signalement_commentaire_show', {'id': signalement_commentaire.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
