{% extends 'base.html.twig' %}

{% block title %}Edit SignalementAmendement
{% endblock %}

{% block body %}
	<h1>Edit SignalementAmendement</h1>

	{{ include('signalement_amendement/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('signalement_amendement/_delete_form.html.twig') }}
{% endblock %}
