{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel Amendement
{% endblock %}

{% block body %}

	<div class="section-inner ">
		<h2 class="section-heading">{{ titrepetition }}</h2>
		<br>
		<h3>Créer un nouvel Amendement</h3>
		{% for message in app.flashes('alert') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		{{ include('amendement/_form.html.twig') }}
	</div>
{% endblock %}
